<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<h2>Hello <span th:text="${user.name}"/>!!!</h2>
<div class="tab-content">
    <div class="tab-pane active" id="userTable" role="tabpanel">
        <table border="3">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>AGE</th>
                <th>EMAIL</th>
                <th>ROLE</th>
            </tr>
            <tr>
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.age}">Age</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.roles}">Email</td>
            </tr>
        </table>
    </div>
</div>

<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('ADMIN')">
        <hr>
        <p><a class="btn btn-lg btn-success" th:href="@{/admin/users}" role="button">Show all users</a></p>
        <p>
            <a href="/admin/users/new">Create new user</a>
        </p>
        <hr>
    </div>
</div>

<p><a class="btn btn-lg btn-danger" th:href="@{/logout}" role="button">Exit</a></p>

</body>
</html>