<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<h2>Show user</h2>
<div class="tab-content">
    <div class="tab-pane active" id="userTable" role="tabpanel">
        <table border="3">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>AGE</th>
                <th>EMAIL</th>
                <th>ROLE</th>
            </tr>
            <tr>
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.age}">Age</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.roles}">Email</td>
            </tr>
        </table>
    </div>
</div>
<hr>
<p><a th:href="@{/admin/users/update/{id}(id=${user.getId()})}">Update</a></p>
<p><a th:href="@{/admin/users/delete/{id}(id = ${user.getId()})}">Delete</a></p>
<p><a class="btn btn-lg btn-success" th:href="@{/admin/users}" role="button">Show all users</a></p>
<hr>
<p><a class="btn btn-lg btn-success" th:href="@{/home_page_for_all}" role="button">Return in home page</a></p>
<hr>

</body>
</html>